/*
    Body
*/

body {
    background-color: #f2f2f2;
    box-sizing:content-box;
}

/* 
    Navbar CSS 
*/

.navbar {
    background-color: #FFFFFF;
    padding: 8px 30px;     
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
    text-align: justify;
    border-radius: 5px;
    position: sticky;
    border-bottom: 1.5px solid #52ab98;
    border-bottom-right-radius: 50px 20px;
}

.navbar-brand {
    font-size: larger;
    font-weight: 200;
    margin-left: 20px;
}

.navbar-brand:hover {
    color: #52ab98;
    font-weight: 500;
}

.navbar-sub-brand {
    font-size: smaller;
    font-style: italic;
    font-size: 200;
}

.navbar-brand-div {
    border-right: 1px dotted grey;
}

.navbar-item {
    text-decoration: none;
    padding: 30px;
    color: #111;
    /*border-right: 0.5px solid black;*/
    line-height: 55px;
    font-size: medium;
}

.navbar-last-item {
    border-right: none;
}

.navbar-item:hover {
    background-color: #f2f2f2;
    color: #52ab98;
}


/* Page Body CSS */
.pageBody {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: 30% auto;
}

/* Summary Card CSS */
.summary-card {
    box-shadow: 0 4px 0 0 #2b6777;
    background-color: #FFFFFF;
    padding: 30px;
}
    /* Summary Logo Card CSS */
.card-title-logo {
    display: grid;
    position: relative;
}

.card-logo {
    border-radius: 50%;
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card-title-logo:hover .card-logo-overlay {
    opacity: 1;
  }

.card-logo-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2b6777;
  }
  
.card-logo-text {
color: #f2f2f2;
font-size: 20px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
}

    /* Summary Title Text Card CSS */
.card-title-text {
    padding: 20px 0px 0px 0px;
    font-size: 28px;
    font-weight: bold;
    text-align: justify;
    font-family: Ubuntu, sans-serif;
}

    /* Summary Title Text Card CSS */
.card-title-email {
    padding: 0px 0px 4px 0px;
}

.card-text-email {
    text-decoration: none;
    color: #2b6777;
    font-size: 20px;
    font-family: Lora, serif;
}

.card-text-email:hover {
    color: cornflowerblue
}

.card-about-header-div {
    padding: 8px 0px 0px 0px;
}

.card-about-header-div {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    color:#111;
    font-size: 20px; 
}

.card-about-content-text {
    text-align: justify;
}