/*
    Body
*/

body {
    background-color: #f2f2f2;
    box-sizing: content-box;
}

/* 
    Navbar CSS 
*/

.navbar {
    background-color: #FFFFFF;
    padding: 8px 30px;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
    align-items: stretch;
    text-align: justify;
    border-radius: 5px;
    border-bottom: 1.5px solid #52ab98;
    border-bottom-right-radius: 50px 20px;
}

.navbar-brand {
    font-size: larger;
    font-weight: 200;
    margin-left: 20px;
}

.navbar-brand:hover {
    color: #52ab98;
    font-weight: 500;
}

.navbar-sub-brand {
    font-size: smaller;
    font-style: italic;
    font-size: 200;
}

.navbar-brand-div {
    border-right: 1px dotted grey;
}

.navbar-item {
    text-decoration: none;
    padding: 30px;
    color: #111;
    line-height: 55px;
    font-size: medium;
}

.navbar-last-item {
    border-right: none;
}

.navbar-item:hover {
    background-color: #f2f2f2;
    color: #52ab98;
}


/* Page Body CSS */
.pageBody {
    padding: 40px 80px;
    display: grid;
    grid-template-columns: 30% 5% auto;
}

/* Summary Card CSS */
.summary-card {
    box-shadow: 0 4px 0 0 #2b6777;
    background-color: #FFFFFF;
    padding: 30px;
}

/* Summary Logo Card CSS */
.card-title-logo {
    display: grid;
    position: relative;
}

.card-logo {
    border-radius: 50%;
    height: auto;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.card-title-logo:hover .card-logo-overlay {
    opacity: 1;
}

.card-logo-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #2b6777;
}

.card-logo-text {
    color: #f2f2f2;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

/* Summary Title Text Card CSS */
.card-title-text {
    padding: 20px 0px 0px 0px;
    font-size: 28px;
    font-weight: bold;
    text-align: justify;
    font-family: Ubuntu, sans-serif;
    color: #414A4C
}

/* Summary Title Email Card CSS */
.card-title-email {
    padding: 0px 0px 4px 0px;
}

.card-text-email {
    text-decoration: none;
    color: #2b6777;
    font-size: 20px;
    font-family: Lora, serif;
}

.card-text-email:hover {
    color: cornflowerblue
}

/* Summary About Card CSS */
.card-about-header-div {
    padding: 8px 0px 0px 0px;
}

/* Summary About Header Card CSS */
.card-about-header-text {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    color: #414A4C;
    font-size: 20px;
}

/* Summary About Content Card CSS */
.card-about-content-text {
    text-align: justify;
}

/* Summary Learn More Card CSS */
.card-learn-more-div {
    padding: 12px 0px 18px 0px;
}

.card-button {
    background-color: transparent;
    border: 1px solid black;
    padding: 12px 32px;
    cursor: pointer;
}

.button-learn-more {
    border-color: #2b6777;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: x-small;
    font-weight: 750;
}

.button-learn-more:hover {
    border-color: #52ab98;
    color: #52ab98
}

/* Card Social Media Icons */

.icon-social-media {
    padding: 20px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.icon-social-media:hover {
    opacity: 0.7;
}

.fa-github {
    color: black;
}

/* Home Card CSS */
.home-card {
    box-shadow: 0 4px 0 0 #2b6777;
    background-color: #FFFFFF;
    padding: 30px;
    height: fit-content;
}

/* Home Title Div */
.home-title-div {
    padding: 32px 0px 0px 32px;
}

/* Home Title Text */
.home-title-text {
    font-family: Ubuntu, sans-serif;
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #414A4C
}

.home-subtitle-div {
    padding: 0px 104px 4px 32px;
}

.home-subtitle-text {
    font-size: medium;
    letter-spacing: 2px;
    text-align: justify;
    color: #1B1212;
}

.home-content-div {
    padding: 32px;
}

.home-content-text {
    font-family: Lora, serif;
    font-size: medium;
    color: #1B1212;
}

.home-item-link {
    text-decoration: underline #1B1212 dashed 0.5px;
    text-underline-offset: 4px;
    color: #1B1212;
}

.home-item-link:hover {
    color: #52ab98;
    text-decoration: underline #52ab98 dashed 0.5px;
    text-underline-offset: 8px;
}